<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <h1>Edit Pokemon</h1>
    <form action="/pokemon/<%= data.id %>?_method=PUT" method="POST">
        name: <input type="text" name="name" value="<%= data.name%>">
       img: <input type="text" name="img" value="<%= data.img%>" >
       type: <input type="text" name="type" value="<%= data.type%>">  <br>
    
        hp:<input type="text" name="hp" value="<%= data.stats.hp%>" >
       attack: <input type="text" name="attack" value="<%= data.stats.attack%>"> <br>
       defense: <input type="text" name="defense" value="<%= data.stats.defense%>" >
        speed:<input type="text" name="speed" value="<%= data.stats.speed%>" >
        <input type="submit" value="Edit Pokemon">
    </form>
    <%- include("./partials/footer.ejs")%>
</body>
</html>